.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #0f111a;
  color: #94a3b8;
  font-size: 0.75rem;
  padding: 1.5rem;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-family: 'Inter', sans-serif;
  z-index: 10;
  position: relative;
}

.footerText {
  text-align: center;
}
